<footer class="footer">
  <div class="container">
    <span class="text-muted" style="color:#fff!important">
      <span style="color: #00bcd4;">Made with </span> <i class="fa fa-heart" aria-hidden="true" style="color: red;"> </i>️ 
      Keroles, Robert,Khanh
    </span>
    <span class="text-muted" style="color:#fff!important;float: right;padding-right: 5px;">
       <span style="color: #00bcd4;">Faculty adviser:</span> Bartosz Krawczyk, PhD | Vimal Mishra, MD
    </span>
    <div style="float: left; padding-top: 20px;position: relative;">
      <img src="assets/img/VCU_logo_big.png" width="210" >
    </div>
  </div>
</footer>
