

table {
  border-spacing: 0.2rem;
}
td ,th{
  padding: 0.4rem;
  color: #fff;
}
th{
  color: #000;
}
div{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.mar-t{
  margin-top: 30px;
}
.block-in{
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}
.un-visible{
  opacity: 0;
  -webkit-transition: all 0.3s linear ;
  -moz-transition: all 0.3s linear ;
  transition: all 0.3s linear ;
}
.show{
  opacity: 1;
}
.select-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    padding: 5px 8px;

}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    margin-left: 5px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
tr:nth-child(1),tr:nth-child(7) { background: hsl(150, 50%, 50%); }
tr:nth-child(2),tr:nth-child(8) { background: hsl(160, 60%, 50%); }
tr:nth-child(3),tr:nth-child(9) { background: hsl(170, 70%, 50%); }
tr:nth-child(4),tr:nth-child(10) { background: hsl(180, 80%, 50%); }
tr:nth-child(5),tr:nth-child(11) { background: hsl(190, 90%, 50%); }
tr:nth-child(6),tr:nth-child(12) { background: hsl(200, 99%, 50%); }
