
<div style="display: none;">
  <md-grid-list cols="3">
    <md-grid-tile>
      <table *ngIf="DEPRESSIVENEUROSESC.linear">
        <thead>
          <tr>
            <th colspan="2">Linear Regression</th>
          </tr>
        </thead>
        <tr *ngFor="let v of variables">
          <td>{{v}}</td>
          <td>{{DEPRESSIVENEUROSESC.linear[v]}}</td>
        </tr>
      </table>
    </md-grid-tile>
    <md-grid-tile>
      <table *ngIf="DEPRESSIVENEUROSESC.ridge">
        <thead>
          <tr>
            <th colspan="2"> Ridge Regression</th>
          </tr>
        </thead>
        <tr *ngFor="let v of variables">
          <td>{{v}}</td>
          <td>{{DEPRESSIVENEUROSESC.ridge[v]}}</td>
        </tr>
      </table>
    </md-grid-tile>
    <md-grid-tile>
      <table *ngIf="DEPRESSIVENEUROSESC.ridgeCv">
        <thead>
          <tr>
            <th colspan="2"> Ridge Cross validation Regression</th>
          </tr>
        </thead>
        <tr *ngFor="let v of variables">
          <td>{{v}}</td>
          <td>{{DEPRESSIVENEUROSESC.ridgeCv[v]}}</td>
        </tr>
      </table>
    </md-grid-tile>
    <md-grid-tile>
      <table *ngIf="DEPRESSIVENEUROSESC.lasso" class="mar-t">
        <thead>
          <tr>
            <th colspan="2"> Lasso Regression</th>
          </tr>
        </thead>
        <tr *ngFor="let v of variables">
          <td>{{v}}</td>
          <td>{{DEPRESSIVENEUROSESC.lasso[v]}}</td>
        </tr>
      </table>
    </md-grid-tile>
    <md-grid-tile>
      <table *ngIf="DEPRESSIVENEUROSESC.lassoCv" class="mar-t">
        <thead>
          <tr>
            <th colspan="2"> Lasso Cross validation Regression</th>
          </tr>
        </thead>
        <tr *ngFor="let v of variables">
          <td>{{v}}</td>
          <td>{{DEPRESSIVENEUROSESC.lassoCv[v]}}</td>
        </tr>
      </table>
    </md-grid-tile>
  </md-grid-list>
</div>
