<nav class="topnav bg-inverse">
      <a class="navbar-brand"  style="color:rgb(248, 184, 0);line-height:1.2rem;font-size:1.5rem;" routerLink="/home" >Internal Medicine</a>
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home </a>
      <a class="nav-link" routerLink="/prediction" routerLinkActive="active">Prediction</a>
  <div class="pull-right">
      <a  href="https://www.vcu.edu">
      <img src="assets/img/vcu_icon.png" width="35" height="35"  style="margin-top: -6px;" alt="VCU logo">
      </a>
  </div>
</nav>
