<md-tab-group style="width:100%;">
    <md-tab label="Whole Data Set">
  <app-whole-dataset></app-whole-dataset>
    </md-tab>
  <md-tab label="cellulitiswomcc">
   <app-cellulitiswomcc></app-cellulitiswomcc>
  </md-tab>
  <md-tab label="psychoses">
<app-psychoses></app-psychoses>
  </md-tab>
    <md-tab label="circulatorydisorders">
<app-circulatorydisordersexceptamiwcardcathwomcc>

</app-circulatorydisordersexceptamiwcardcathwomcc>
  </md-tab>
      <md-tab label="depressiveneuroses">
<app-depressiveneuroses>
</app-depressiveneuroses>
  </md-tab>

<md-tab label="esophagitisgastroentmisc">
<app-esophagitisgastroentmiscdigestdisorderswomcc>
</app-esophagitisgastroentmiscdigestdisorderswomcc>
  </md-tab>
  <md-tab label="heartfailureshock">
  <app-heartfailureshockwcc>
  </app-heartfailureshockwcc>
  </md-tab>

    <md-tab label="majorjointreplacement">
  <app-majorjointreplacementorreattachmentoflowerextremitywo>
  </app-majorjointreplacementorreattachmentoflowerextremitywo>
  </md-tab>

  <md-tab label="redbloodcelldisorders">
  <app-redbloodcelldisorderswomcc>
  </app-redbloodcelldisorderswomcc>
  </md-tab>

   <md-tab label="redbloodcelldisorders">
  <app-redbloodcelldisorderswomcc>
  </app-redbloodcelldisorderswomcc>
  </md-tab>
  <md-tab label="rehabilitation">
  <app-rehabilitationwccmcc>

  </app-rehabilitationwccmcc>
    </md-tab>
    <md-tab label="vaginaldeliverywocomplicating">
    <app-vaginaldeliverywocomplicatingdiagnoses>
    </app-vaginaldeliverywocomplicatingdiagnoses>
    </md-tab>
</md-tab-group>