
  <div *ngIf="!showPrediction">
    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="selectedModel.linear">Linear</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="selectedModel.ridge">Ridge</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="selectedModel.ridgeCv">Ridge Cross Validation </md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="selectedModel.lasso">Lasso</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="selectedModel.lassoCv">Lasso Cross Validation</md-checkbox>
      <button md-raised-button style="display:block; position: absolute; right:10px;   background-color:rgb(248, 184, 0); font-size:18px;"
        data-toggle="modal" data-target="#exampleModalLong"> Models </button>
      <!-- Modal Trigger -->
      <!-- Modal Structure -->
      
    </section>

    <div class="padd container" style="margin-top: 30px;">
      <form (ngSubmit)="onSubmit()" #modelForm="ngForm">
        <div class="row">
          <div class="col-md-3">
            <label class="label-style" for="AdmitSource">Admit Source</label>
            <select [(ngModel)]="model.AdmitSource" class="form-control" id="AdmitSource" required name="AdmitSource" #AdmitSource="ngModel">
                <option *ngFor="let a of options.Admit_Source" [ngValue]="a.value">
                  {{ a.viewValue }}
                </option>
              </select>
          </div>

          <div class="col-md-2">
            <label class="label-style" for="PrimaryInsurance">Primary Insurance</label>
            <select [(ngModel)]="model.PrimaryInsurance" class="form-control" id="PrimaryInsurance" required name="PrimaryInsurance"
              #PrimaryInsurance="ngModel">
                <option *ngFor="let a of options.Primary_Insurance" [ngValue]="a.value">
                    {{ a.viewValue }}
               </option>
               </select>
          </div>

          <div class="col-md-2">
            <label class="label-style" for="generalCareOrder"> General Care Order</label>
            <select [(ngModel)]="model.generalCareOrder" class="form-control" [required]="model.icuOrder==0 && model.stepdownOrder==0"
              #generalCareOrder="ngModel" id="generalCareOrder" name="generalCareOrder">
                <option *ngFor="let a of options.general_care_order" [ngValue]="a.value">
                  {{ a.viewValue }}
               </option>
              </select>
          </div>
          <div class="col-md-2">
            <label class="label-style" for="stepdownOrder"> Stepdown Order</label>
            <select [(ngModel)]="model.stepdownOrder" class="form-control" [required]="model.icuOrder==0 && model.generalCareOrder==0"
              #stepdownOrder="ngModel" id="stepdownOrder" name="stepdownOrder">
              <option *ngFor="let a of options.stepdown_order" [ngValue]="a.value">
               {{ a.viewValue }}
             </option>
             </select>
          </div>

          <div class="col-md-2">
            <label class="label-style" for="icuOrder">ICU Order</label>
            <select [(ngModel)]="model.icuOrder" class="form-control" [required]="model.stepdownOrder==0 && model.generalCareOrder==0"
              #icuOrder="ngModel" id="icuOrder" name="icuOrder">
                <option *ngFor="let a of options.icu_order" [value]="a.value">
                {{ a.viewValue }}
                </option>
              </select>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-3">
            <label class="label-style" for="AdmitUnit">Admit Unit</label>
            <select [(ngModel)]="model.AdmitUnit" id="AdmitUnit" class="form-control" required #AdmitUnit="ngModel" name="AdmitUnit">
              <option *ngFor="let a of options.Admit_Unit" [value]="a.value">
                {{ a.viewValue }}
              </option>
              </select>
          </div>
          <div class="col-md-2">
            <label class="label-style" for="isoResult">ISO Result </label>
            <select [(ngModel)]="model.isoResult" class="form-control" id="isoResult" required #isoResult="ngModel" name="isoResult">
                 <option *ngFor="let a of options.iso_result" [ngValue]="a.value">
                 {{ a.viewValue }}
                 </option>
              </select>
          </div>

          <div class="col-md-4">
            <label class="label-style" for="DischargeDisposition"> Discharge Disposition </label>
            <select [(ngModel)]="model.DischargeDisposition" class="form-control" id="DischargeDisposition" required #DischargeDisposition="ngModel"
              name="DischargeDisposition">
           <option *ngFor="let a of options.Discharge_Disposition" [ngValue]="a.value">
               {{ a.viewValue }}
            </option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="label-style" for="age"> Age </label>
            <input type="number" min="18" [(ngModel)]="model.age" class="form-control" id="age" required #age="ngModel" name="age">
          </div>
        </div>
        <div class="row" style="margin-top:25px;">
          <button md-raised-button class="md-accent" style="text-align: center;margin:0px auto;display: block; font-size:18px;" [disabled]="!modelForm.form.valid">Predict</button>
        </div>

      </form>
    </div>
  </div>
  <div *ngIf="showPrediction">
    <h1 style="text-align: center;"> Report </h1>
    <div>
      <md-grid-list cols="2" rowHeight="550px">
        <md-grid-tile *ngFor="let r of prediction;">
          <div>
            <div>
              <h4> <span style="margin-right: 5px;">predicted length of stay in hospital :</span> {{r.results}} {{r.results==1
                ? 'day':'days'}}
              </h4>
              <h5> Mean Square Error: {{r.model['meanSquareError']}}</h5>
              <h5> Variance: {{r.model['variance']}}</h5>
            </div>
            <table>
              <thead>
                <tr>
                  <th colspan="2">{{r.type}} </th>
                </tr>
              </thead>
              <tr *ngFor="let v of variables">
                <td>{{v}}</td>
                <td>{{r.model[v]}}</td>
              </tr>
            </table>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <button md-raised-button class="md-accent" style="text-align: center;margin:0px auto;display: block; font-size:18px;" (click)="rePredict()">
    Re-predict</button>
  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <md-grid-list cols="2">
          <md-grid-tile>
            <table *ngIf="calculatedModal.linear">
              <thead>
                <tr>
                  <th colspan="2">Linear Regression</th>
                </tr>
              </thead>
              <tr *ngFor="let v of variables">
                <td>{{v}}</td>
                <td>{{calculatedModal.linear[v]}}</td>
              </tr>
            </table>
          </md-grid-tile>
          <md-grid-tile>
            <img src="assets/img/CIRCULATORYDISORDERSEXCEPTAMIWCARDCATHWOMCC_linearReg.csv1.png">
          </md-grid-tile>
          <md-grid-tile>
            <table *ngIf="calculatedModal.ridge">
              <thead>
                <tr>
                  <th colspan="2"> Ridge Regression</th>
                </tr>
              </thead>
              <tr *ngFor="let v of variables">
                <td>{{v}}</td>
                <td>{{calculatedModal.ridge[v]}}</td>
              </tr>
            </table>
          </md-grid-tile>
          <md-grid-tile>
            <img src="assets/img/CIRCULATORYDISORDERSEXCEPTAMIWCARDCATHWOMCC_ridge.csv1.png">
          </md-grid-tile>
          <md-grid-tile>
            <table *ngIf="calculatedModal.ridgeCv">
              <thead>
                <tr>
                  <th colspan="2"> Ridge Cross validation Regression</th>
                </tr>
              </thead>
              <tr *ngFor="let v of variables">
                <td>{{v}}</td>
                <td>{{calculatedModal.ridgeCv[v]}}</td>
              </tr>
            </table>
          </md-grid-tile>
          <md-grid-tile>
            <img src="assets/img/CIRCULATORYDISORDERSEXCEPTAMIWCARDCATHWOMCC_ridgecv.csv1.png">
          </md-grid-tile>
          <md-grid-tile>
            <table *ngIf="calculatedModal.lasso" class="mar-t">
              <thead>
                <tr>
                  <th colspan="2"> Lasso Regression</th>
                </tr>
              </thead>
              <tr *ngFor="let v of variables">
                <td>{{v}}</td>
                <td>{{calculatedModal.lasso[v]}}</td>
              </tr>
            </table>
          </md-grid-tile>
          <md-grid-tile>
            <img src="assets/img/CIRCULATORYDISORDERSEXCEPTAMIWCARDCATHWOMCC_lasso.csv1.png">
          </md-grid-tile>
          <md-grid-tile>
            <table *ngIf="calculatedModal.lassoCv" class="mar-t">
              <thead>
                <tr>
                  <th colspan="2"> Lasso Cross validation Regression</th>
                </tr>
              </thead>
              <tr *ngFor="let v of variables">
                <td>{{v}}</td>
                <td>{{calculatedModal.lassoCv[v]}}</td>
              </tr>
            </table>
          </md-grid-tile>
          <md-grid-tile>
            <img src="assets/img/CIRCULATORYDISORDERSEXCEPTAMIWCARDCATHWOMCC_lassocv.csv1.png">
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
  </div>
</div>