/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}

html,
body {
  height: 100%;
}

.md-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.label-style {
  color: #2196F3;
}

.example-h2 {
  margin: 10px;
}

.select-style select:focus {
  outline: none;
}
.example-spacer {
  flex: 1 1 auto;
}
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.table{margin-top: -80px;}
.mat-grid-tile .mat-figure {padding: 5px!important;}

table td,
table th {
  padding: 10px 10px;
}

table tr:hover {
  background-color: #E1EEF4;
}
 table thead th {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #094C99), color-stop(1, #094C99));
  background: -moz-linear-gradient( center top, #094C99 5%, #094C99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#094C99', endColorstr='#094C99');
  background-color: #094C99;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  border-left: 1px solid #0070A8;
}



 table tbody td {
  color: #00557F;
  border-left: 1px solid #c7c9ca;
  border-bottom: 1px solid #c7c9ca;
  font-size: 14px;
  font-weight: normal;
}

 table tbody .alt td {
  background: #E1EEf4;
  color: #00557F;
}

 table tbody td:first-child {
  border-left: none;
}

 table tbody tr:last-child td {
  border-bottom: none;
}

 table tfoot td div {
  border-top: 1px solid #059905;
  background: #E1EEf4;
}

 table tfoot td {
  padding: 0;
  font-size: 14px
}

 table tfoot td div {
  padding: 2px;
}

table tfoot td ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

 table tfoot li {
  display: inline;
}

 table tfoot li a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 8px;
  margin: 1px;
  color: #FFFFFF;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
  background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color: #006699;
}




.example-margin {
  margin: 0 10px;
}

footer {
  min-height: 120px;
  margin-top: 90px;
}

app-root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

router-outlet {
  flex: 1
}

.example-section {
  display: flex;
  background-color: #ededed;
  align-content: center;
  align-items: center;
  height: 60px;
  margin: 0px;
}

.example-margin {
  margin: 0 10px;
}
