/* You can add global styles to this file, and also import other style files */


body{
    margin: 0px;
    padding: 0px;
}
.md-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.select_style {
    background: #FFF;
    overflow: hidden;
    display: inline-block;
    color: #525252;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: solid 1px #DADADA;
    font-family: "helvetica neue",arial;
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in;
    padding-right:20px;
}
.select_style span {
    position: absolute;
    right: 10px;
    width: 8px;
    height: 8px;
    background: url(http://projects.authenticstyle.co.uk/niceselect/arrow.png) no-repeat;
    top: 50%;
    margin-top: -4px;
}
.select_style select, .select_style input[type="number"]{
    -webkit-appearance: none;
    appearance:none;
    width:120%;
    background:none;
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
    padding:7px 10px;
}
.selected{
    background: #E3F2FD;
    color: #2196F3;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.example-h2 {
  margin: 10px;
}
.select-style select:focus {
    outline: none;
}
tr:nth-child(1),tr:nth-child(7) { background: hsl(150, 50%, 50%); }
tr:nth-child(2),tr:nth-child(8) { background: hsl(160, 60%, 50%); }
tr:nth-child(3),tr:nth-child(9) { background: hsl(170, 70%, 50%); }
tr:nth-child(4),tr:nth-child(10) { background: hsl(180, 80%, 50%); }
tr:nth-child(5),tr:nth-child(11) { background: hsl(190, 90%, 50%); }
tr:nth-child(6),tr:nth-child(12) { background: hsl(200, 99%, 50%); }

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

table {
  border-spacing: 0.2rem;
}
td ,th{
  padding: 0.4rem;
  color: #fff;
}
th{
  color: #000;
}

.mar-t{
  margin-top: 30px;
}
.block-in{
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}